.background {
  position: absolute;
  top: 180px;
  left: 0;
  background-color: var(--primary-thin-line);
  width: 1152px;
  height: 15px;
}
.backgroundParent {
  align-self: stretch;
  position: relative;
  height: 195px;
}
.heading1 {
  position: absolute;
  top: -10.53%;
  left: -3.08%;
  font-weight: 600;
}
.heading {
  width: 65px;
  position: relative;
  height: 19px;
}
.titles {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.heading3 {
  position: absolute;
  top: 0;
  left: 21.54%;
  font-weight: 600;
}
.titles1 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-family: var(--button-font-giant);
}
.heading5 {
  position: absolute;
  top: -10.53%;
  left: 4.62%;
  font-weight: 600;
}
.titlesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading7 {
  position: absolute;
  top: 0;
  left: -53.85%;
}
.titles3 {
  width: 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.heading9 {
  position: absolute;
  top: 0;
  left: 33.85%;
}
.titles4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.heading11 {
  position: absolute;
  top: 0;
  left: -67.69%;
}
.frameContainer,
.titlesGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.titlesGroup {
  flex-direction: column;
  font-family: var(--button-font-giant);
}
.frameContainer {
  flex-direction: row;
  gap: var(--gap-xl);
}
.heading13 {
  position: absolute;
  top: 0;
  left: -84.62%;
  font-weight: 600;
}
.titles6 {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.heading15 {
  position: absolute;
  top: 0;
  left: -73.85%;
  font-weight: 600;
}
.heading19 {
  position: absolute;
  top: -10.53%;
  left: 41.54%;
}
.titles9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.titlesParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--text-font-header-title);
}
.frameDiv,
.frameGroup {
  display: flex;
  align-items: center;
}
.frameDiv {
  width: 289px;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--button-font-giant);
}
.frameGroup {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-31xl);
}
.frameParent,
.sidebarParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  background-color: var(--text-color-text-primary-white);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-31xl);
}
.sidebarParent {
  flex-direction: row;
  align-items: flex-start;
}
.backgroundIcon {
  width: 1152px;
  position: relative;
  height: 60px;
  object-fit: contain;
}
.desktopprofile {
  width: 100%;
  position: relative;
  background-color: var(--color-slategray);
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-126xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--black-100);
  font-family: var(--text-font-header-title);
}
