.background {
  position: absolute;
  top: 180px;
  left: 0;
  background-color: var(--primary-thin-line);
  width: 1152px;
  height: 15px;
}
.backgroundParent {
  align-self: stretch;
  position: relative;
  height: 195px;
}
.heading1 {
  position: absolute;
  top: -78.95%;
  left: 0;
}
.heading {
  width: 65px;
  position: relative;
  height: 19px;
}
.chevronParent,
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.titles {
  flex: 1;
  height: 59px;
  padding: var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
}
.chevronParent {
  align-self: stretch;
}
.assistTableWrapper {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) 0;
}
.assistTableWrapper,
.desktopparticipationInner,
.frameParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  background-color: var(--text-color-text-primary-white);
  flex-direction: column;
}
.desktopparticipationInner {
  flex-direction: row;
}
.backgroundIcon {
  width: 1152px;
  position: relative;
  height: 60px;
  object-fit: contain;
}
.desktopparticipation {
  width: 100%;
  position: relative;
  background-color: var(--color-slategray);
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-126xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-font-header-title-size);
  color: var(--primary-background);
  font-family: var(--text-font-header-title);
}
