.vectorIcon {
  width: 15px;
  position: relative;
  height: 30px;
}
.chevron {
  background-color: var(--text-color-text-primary-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xs);
}
