.background {
  width: 1148px;
  position: relative;
  background-color: var(--primary-thin-line);
  height: 15px;
}
.headerParent {
  width: 1148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading1 {
  position: absolute;
  top: -78.95%;
  left: -72.31%;
}
.heading {
  width: 65px;
  position: relative;
  height: 19px;
}
.newObject,
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.newObject {
  align-self: stretch;
  background-color: var(--text-color-text-primary-white);
  height: 82px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-44xl);
  box-sizing: border-box;
}
.cardSemesterClasAndMateriaParent {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  gap: var(--gap-6xl);
}
.cardSemesterClasAndMateriaParent,
.newObjectParent,
.sidebarParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.newObjectParent {
  background-color: var(--text-color-text-primary-white);
  flex-direction: column;
  align-items: center;
}
.sidebarParent {
  flex-direction: row;
  align-items: flex-start;
}
.backgroundIcon {
  width: 1152px;
  position: relative;
  height: 60px;
  object-fit: contain;
}
.desktopresources {
  width: 100%;
  position: relative;
  background-color: var(--color-slategray);
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-126xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--text-font-header-title-size);
  color: var(--primary-background);
  font-family: var(--text-font-header-title);
}
