.vectorIcon {
  width: 15px;
  position: relative;
  height: 30px;
}
.chevron {
  background-color: var(--text-color-text-primary-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xs);
}
.vectorIcon1 {
  width: 15px;
  position: relative;
  height: 30px;
}
.chevron1,
.chevronParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.chevron1 {
  background-color: var(--text-color-text-primary-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-7xs) var(--padding-4xs);
}
.chevronParent {
  align-items: flex-start;
  gap: var(--gap-mini);
}
.frameChild {
  width: 500px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon2 {
  width: 15px;
  position: relative;
  height: 30px;
}
.chevron2,
.chevronGroup {
  background-color: var(--text-color-text-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.chevron2 {
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-4xs);
}
.chevronGroup {
  gap: var(--gap-11xl);
}
.frameItem {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--black-100);
  box-sizing: border-box;
  height: 51px;
}
.vectorIcon3 {
  width: 15px;
  position: relative;
  height: 30px;
}
.chevron3,
.frameParent,
.monthParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.chevron3 {
  background-color: var(--text-color-text-primary-white);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-4xs);
}
.frameParent,
.monthParent {
  gap: var(--gap-11xl);
}
.monthParent {
  background-color: var(--text-color-text-primary-white);
}
.frameParent {
  width: 390px;
}
.frameInner {
  width: 107px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup {
  width: 1241px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tableHeaderContainer,
.tableHeaderWrapper {
  flex-direction: column;
  align-items: flex-start;
}
.tableHeaderWrapper {
  width: 118.7px;
  display: flex;
  justify-content: flex-start;
}
.tableHeaderContainer {
  width: 352px;
}
.tableHeaderContainer,
.tableHeaderFrame,
.tableHeaderParent {
  display: flex;
  justify-content: flex-start;
}
.tableHeaderParent {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.tableHeaderFrame {
  width: 107px;
  flex-direction: column;
  align-items: flex-start;
}
.frameContainer,
.tableCellParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
}
.tableCellParent {
  width: 472px;
  height: 44px;
}
.div {
  position: relative;
  font-weight: 600;
}
.buttonStyle3 {
  width: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-background);
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.participationCell {
  width: 107px;
  height: 44px;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.assistCellParent,
.frameDiv,
.participationCell,
.tableCellGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.assistCellParent {
  flex: 1;
  height: 45px;
  justify-content: center;
}
.frameDiv,
.tableCellGroup {
  height: 44px;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
}
.tableCellGroup {
  width: 472px;
}
.vectorIcon4 {
  width: 14.7px;
  position: relative;
  height: 11.2px;
}
.assistCell,
.vectorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.vectorWrapper {
  width: 20px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--primary-background);
  height: 20px;
  flex-direction: column;
  padding: 0 var(--padding-11xs);
}
.assistCell {
  flex: 1;
  background-color: var(--text-color-text-primary-white);
  height: 44px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-37xl);
}
.div1 {
  position: relative;
  font-weight: 600;
}
.assistCellGroup,
.buttonStyle31,
.participationCell1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonStyle31 {
  width: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-background);
  height: 27px;
  flex-direction: column;
  z-index: 1;
}
.assistCellGroup,
.participationCell1 {
  flex-direction: row;
}
.participationCell1 {
  width: 107px;
  height: 44px;
  padding: var(--padding-5xs) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.assistCellGroup {
  flex: 1;
  height: 45px;
}
.frameParent1,
.tableCellContainer {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
}
.tableCellContainer {
  width: 472px;
}
.vectorIcon5 {
  width: 14.7px;
  position: relative;
  height: 11.2px;
}
.assistCell1,
.vectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.vectorContainer {
  width: 20px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--primary-background);
  height: 20px;
  flex-direction: column;
  padding: 0 var(--padding-11xs);
}
.assistCell1 {
  flex: 1;
  background-color: var(--text-color-text-primary-white);
  height: 44px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-37xl);
}
.div2 {
  position: relative;
  font-weight: 600;
}
.buttonStyle32 {
  width: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-background);
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.assistCellContainer,
.participationCell2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.participationCell2 {
  width: 107px;
  height: 44px;
  padding: var(--padding-5xs) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.assistCellContainer {
  flex: 1;
  height: 45px;
}
.frameParent2,
.tableCellParent1 {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent2 {
  align-self: stretch;
}
.tableCellParent1 {
  width: 472px;
}
.vectorIcon6 {
  width: 14.7px;
  position: relative;
  height: 11.2px;
}
.assistCell2,
.vectorFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.vectorFrame {
  width: 20px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--primary-background);
  height: 20px;
  flex-direction: column;
  padding: 0 var(--padding-11xs);
}
.assistCell2 {
  flex: 1;
  background-color: var(--text-color-text-primary-white);
  height: 44px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-37xl);
}
.div3 {
  position: relative;
  font-weight: 600;
}
.buttonStyle33 {
  width: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-background);
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.participationCell3 {
  width: 107px;
  height: 44px;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.assistCellParent1,
.frameParent3,
.participationCell3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.assistCellParent1 {
  flex: 1;
  height: 45px;
  justify-content: center;
}
.frameParent3 {
  height: 44px;
  justify-content: flex-start;
}
.frameParent3,
.frameParent4 {
  align-self: stretch;
}
.assistTable,
.frameParent4,
.frameParent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  align-self: stretch;
  color: var(--text-color-text-primary-white);
  font-family: var(--button-font-giant);
}
.assistTable {
  width: 1152px;
  height: 322px;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black-100);
  font-family: var(--text-font-header-title);
}
