.imageIcon {
  width: 396px;
  position: relative;
  height: 159px;
  object-fit: cover;
}
.headerChild {
  width: 3px;
  position: relative;
  border-right: 3px solid var(--text-color-text-primary-white);
  box-sizing: border-box;
  height: 162px;
}
.controlEscolar {
  position: relative;
  font-weight: 600;
}
.header {
  width: 1436px;
  background-color: var(--primary-background);
  height: 184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--text-color-text-primary-white);
  font-family: var(--text-font-header-title);
}
