.heading1 {
  position: absolute;
  top: -78.95%;
  left: -76.92%;
}
.heading {
  width: 65px;
  position: relative;
  height: 19px;
}
.newObject,
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.newObject {
  align-self: stretch;
  background-color: var(--text-color-text-primary-white);
  height: 82px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-44xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--text-font-header-title-size);
  color: var(--primary-background);
  font-family: var(--text-font-header-title);
}
