.tableCell {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.tableCell1 {
  position: absolute;
  height: 16.67%;
  width: 8.6%;
  top: 33.33%;
  right: 91.4%;
  bottom: 50%;
  left: 0;
  background-color: var(--text-color-text-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--black-100);
  font-family: var(--text-font-header-title);
}
