.background {
  width: 15px;
  position: relative;
  background-color: var(--primary-thin-line);
  height: 1436px;
  transform: rotate(90deg);
  margin-top: -1436px;
}
.headerParent {
  width: 1436px;
  height: 199px;
  justify-content: flex-start;
}
.desktoplogin,
.frameParent,
.headerParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameParent {
  width: 1436px;
  justify-content: flex-start;
  gap: 146px;
}
.desktoplogin {
  width: 100%;
  position: relative;
  background-color: var(--color-silver);
  height: 1024px;
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
