.background {
  position: absolute;
  top: 180px;
  left: 0;
  background-color: var(--primary-thin-line);
  width: 1148px;
  height: 15px;
}
.backgroundParent {
  align-self: stretch;
  position: relative;
  height: 195px;
}
.heading1 {
  position: absolute;
  top: -78.95%;
  left: -76.92%;
}
.heading {
  width: 65px;
  position: relative;
  height: 19px;
}
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.div {
  position: relative;
  font-weight: 600;
}
.buttonStyle3,
.input,
.newObject {
  align-items: center;
  justify-content: center;
}
.buttonStyle3 {
  width: 50px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-background);
  height: 50px;
  display: none;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--text-color-text-primary-white);
  font-family: var(--button-font-giant);
}
.input,
.newObject {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.newObject {
  align-self: stretch;
  background-color: var(--text-color-text-primary-white);
  height: 127px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-8xl) var(--padding-44xl);
  gap: 172px;
}
.input {
  width: 729px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  height: 247px;
  padding: var(--padding-3xs);
}
.heading3 {
  position: absolute;
  top: -10.53%;
  left: -243.08%;
  font-weight: 600;
}
.titles1 {
  width: 825px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: right;
  color: var(--black-100);
}
.inputParent {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-31xl);
  gap: 66px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}
.newObjectParent,
.sidebarParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.newObjectParent {
  background-color: var(--text-color-text-primary-white);
  flex-direction: column;
  align-items: center;
}
.sidebarParent {
  flex-direction: row;
  align-items: flex-start;
}
.backgroundIcon {
  width: 1148px;
  position: relative;
  height: 60px;
  object-fit: contain;
}
.desktopuploadResources,
.groupParent {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupParent {
  align-self: stretch;
}
.desktopuploadResources {
  width: 100%;
  position: relative;
  background-color: var(--color-slategray);
  overflow: hidden;
  padding: 0 var(--padding-126xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-font-header-title-size);
  color: var(--primary-background);
  font-family: var(--text-font-header-title);
}
