.button {
  position: relative;
  font-weight: 600;
}
.buttonStyle1 {
  width: 166.7px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xl);
  background-color: var(--primary-background);
  height: 38.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--text-color-text-primary-white);
  font-family: var(--button-font-giant);
}
