.dashboard {
  margin: 0;
}
.heading1 {
  position: absolute;
  top: -205.26%;
  left: 22.08%;
}
.heading {
  flex: 1;
  position: relative;
  height: 19px;
}
.titles {
  width: 362px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.searchExample {
  position: relative;
  font-weight: 600;
}
.input {
  position: absolute;
  height: 57.35%;
  width: 93.98%;
  top: 42.65%;
  right: 0;
  bottom: 0;
  left: 6.02%;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.heading3 {
  position: absolute;
  top: -10.53%;
  left: 3.08%;
  font-weight: 600;
}
.heading2 {
  width: 65px;
  position: relative;
  height: 19px;
}
.titles1 {
  position: absolute;
  height: 42.65%;
  width: 93.93%;
  top: 0;
  right: 0;
  bottom: 57.35%;
  left: 6.07%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--black-100);
}
.inputWithLabel {
  width: 379px;
  position: relative;
  height: 68px;
}
.heading5 {
  position: absolute;
  top: -10.53%;
  left: 16.92%;
  font-weight: 600;
}
.heading7 {
  left: 0;
}
.heading11,
.heading13,
.heading7,
.heading9 {
  position: absolute;
  top: -10.53%;
  font-weight: 600;
}
.heading9 {
  left: -44.62%;
  white-space: pre-wrap;
}
.heading11,
.heading13 {
  left: 1.54%;
}
.heading13 {
  left: -173.85%;
  white-space: pre-wrap;
}
.conteiner,
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs {
  align-self: stretch;
  height: 308.9px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 40px 54px;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}
.conteiner {
  width: 948px;
  border-radius: var(--br-3xs);
  background-color: var(--text-color-text-primary-white);
  border: 1px solid var(--black-100);
  box-sizing: border-box;
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--text-font-header-title-size);
  color: var(--primary-background);
  font-family: var(--text-font-header-title);
}
